.submenu
  %ul
    %li= link_to "Nuevo Cliente", new_client_path

.center_content
  #right_wrap
    #right_content
      %h2 Clientes
      %p Listado de clientes de nuestro banco

      - if flash[:notice].present?
        .notice= flash[:notice]

      - if @clients.any?
        %table{id:"rounded-corner",border: "1"}
          %thead
            %tr
              %th Identidad
              %th Nombre
              %th Cantidad de Cuentas
          %tbody
            = render @clients
      - else
        %em No Hay ningun cliente agredo
