= render "submenu"

.center_content
  #right_wrap
    #right_content

      %h2 Editar Tipo
      = render "form"

  .sidebar{id: "sidebar"}
    %h2 Tipo de Cuenta
    .sidebar_section_text Ingresar los datos requeridos para poder editar un tipo de cuenta.

  .clear
