%h2 Opciones
%ul
  %li= link_to "Transacciones", bank_account_transactions_path(@bank_account)
  %li= link_to "Depositar", deposit_bank_account_path(@bank_account, transaction_type: "deposit")
  %li= link_to "Retirar", retire_bank_account_path(@bank_account, transaction_type: "retire")
