= render "submenu"

.center_content
  #right_wrap
    #right_content
      %h2 Cuentas Bancarias

      - if flash[:notice].present?
        .notice= flash[:notice]

      - if @bank_accounts.any?
        %table{id:"rounded-corner",border: "1"}
          %thead
            %tr
              %th ID
              %th Cliente
              %th Saldo
              %th Tipo
          %tbody
            = render @bank_accounts
      - else
        %em No Hay ninguna cuenta bancaria agregada
  .sidebar{id: "sidebar"}
    %h2 Administracion de Cuentas Bancarias
    .sidebar_section_text Listado de cuentas bancarias agregadas al banco.

  .clear
