= render "submenu"

.center_content
  #right_wrap
    #right_content

      %h2 Agregar Nueva Cuenta
      = render "form"

  .sidebar{id: "sidebar"}
    %h2 Cuenta Nueva
    .sidebar_section_text Ingresar los datos requeridos para poder crear una nueva cuenta bancaria.

  .clear
