= render "bank_accounts/submenu"

.center_content
  #right_wrap
    #right_content
      %h2 Listado de Transacciones

      %table{id:"rounded-corner",border: "1"}
        %thead
          %tr
            %th ID
            %th Tipo
            %th Responsable
            %th Descripción
            %th Monto
            %th Fecha
        %tbody
          = render @transactions

  .sidebar{id: "sidebar"}
    %h2 Cuenta Bancaria
    .sidebar_section_text= link_to @bank_account.full_description, @bank_account

  .clear
